<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patrizio's blog</title>
</head>
<body>
<div>
    <h1><a href="/">Django Girls Blog</a></h1>
</div>

<div>
    <p>published: march 2021</p>
    <h2><a href="">My first post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores aut corporis dolor enim, eos eum harum id illum, ipsa molestiae nisi omnis provident quaerat quis ratione vel vero voluptatibus.</p>

</div>

<div>
    <p>pubblicato marzo 2021</p>


</div>

</body>
</html>